# Sora のログディレクトリのパス
SORA_LOG_PATH=

# AWS のアクセスキーとシークレットキー
# または、RustFS にアクセスするためのユーザーとパスワードを指定します
AWS_ACCESS_KEY_ID=shiguredo
AWS_SECRET_ACCESS_KEY=password

# DuckDB の DB ファイルのパス
DUCKDB_DB_PATH=/var/lib/kohaku/duckdb/duck.db
# Grafana の待受ポート、Docker 使用時は host 側の公開ポート
GRAFANA_HTTP_PORT=3000

# Storage へ接続する際に SSL を利用するかどうか（Amazon S3 の場合は true を指定します）
S3_USE_SSL=false
# Storage のエンドポイント（Amazon S3 の場合は s3.amazonaws.com を指定します）
S3_ENDPOINT=rustfs:9000
# Storage のバケット名
S3_BUCKET=kohaku
# ログを保存する Storage のフォルダ
S3_PREFIX=log
# Storage のリージョン
S3_REGION=ap-northeast-1
# ingester の実行間隔（秒）（Docker 使用時のみ、Docker を使用しない場合は systemd/kohaku.timer で設定します）
UPDATE_INTERVAL=300
# init / update 実行時に読み込む既存ログファイル数の上限
INITIAL_MAXIMUM_LOAD=100
# ingester が削除するログの保持期間（日数）
RETENTION_PERIOD=7

# uv 管理の Python のインストール先ディレクトリ
UV_PYTHON_INSTALL_DIR=/opt/kohaku/ingester
