# Grafana のユーザパスワード
GF_SECURITY_ADMIN_USER=shiguredo
GF_SECURITY_ADMIN_PASSWORD=password

# rustfs の data および logs ディレクトリのパス
RUSTFS_BASE_DIR=./rustfs

# S3 互換ストレージ の保持期間超過オブジェクト削除間隔（秒）
CLEANUP_INTERVAL=3600
