# Sora のログディレクトリのパス
SORA_LOG_PATH=

# AWS のアクセスキーとシークレットキー
# または、MinIO にアクセスするためのユーザーとパスワードを指定します
AWS_ACCESS_KEY_ID=shiguredo
AWS_SECRET_ACCESS_KEY=password

# Grafana のユーザパスワード
GF_SECURITY_ADMIN_USER=shiguredo
GF_SECURITY_ADMIN_PASSWORD=password

# rustfs の data および logs ディレクトリのパス
RUSTFS_BASE_DIR=./rustfs

# DuckDB の DB ファイルのパス
DUCKDB_DB_PATH=/var/lib/kohaku/duckdb/duck.db

# ingester に指定する Storage Type (s3 または minio)
STORAGE=rustfs
# エンドポイントにアクセスする際のスキーム
S3_ENDPOINT_SCHEME=http
# Storage のエンドポイント
S3_ENDPOINT=rustfs:9000
# Storage のバケット名
S3_BUCKET=kohaku
# ログを保存する Storage のフォルダ
S3_PREFIX=log
# Storage のリージョン
S3_REGION=ap-northeast-1
# ingester の実行間隔（秒）（Docker 使用時のみ、Docker を使用しない場合は systemd/kohaku.timer で設定します）
UPDATE_INTERVAL=300
# ingester が削除するログの保持期間（日数）
RETENTION_PERIOD=7

# uv 管理の Python のインストール先ディレクトリ
UV_PYTHON_INSTALL_DIR=/opt/kohaku/ingester