[Unit]
Description=WebRTC Stats Analyzer Kohaku
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=kohaku
Environment=INITIAL_MAXIMUM_LOAD=100
EnvironmentFile=/opt/kohaku/.env
Environment=UV_CACHE_DIR=/opt/kohaku/ingester/.cache
Environment=HOME=/opt/kohaku
WorkingDirectory=/opt/kohaku/ingester
TimeoutStartSec=10min
ExecCondition=/bin/test -f ${DUCKDB_DB_PATH}
ExecStart=/opt/kohaku/scripts/run-ingester.sh update
ExecStartPost=/opt/kohaku/scripts/run-ingester.sh delete

Restart=on-failure
RestartSec=5min

[Install]
WantedBy=multi-user.target
