[Unit]
Description=WebRTC Stats Analyzer Kohaku
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=kohaku
EnvironmentFile=/opt/kohaku/.env
Environment=UV_CACHE_DIR=/opt/kohaku/ingester/.cache
Environment=HOME=/opt/kohaku
WorkingDirectory=/opt/kohaku/ingester
TimeoutStartSec=10min
ExecCondition=/bin/test -f ${DUCKDB_DB_PATH}
ExecStart=/opt/uv/bin/uv run python src/run.py \
		--db ${DUCKDB_DB_PATH} \
		--s3_endpoint ${S3_ENDPOINT} \
		--s3_access_key_id ${AWS_ACCESS_KEY_ID} \
		--s3_secret_access_key ${AWS_SECRET_ACCESS_KEY} \
		--s3_bucket ${S3_BUCKET} \
		--s3_prefix ${S3_PREFIX} \
		--initial_maximum_load ${INITIAL_MAXIMUM_LOAD} \
		update
ExecStartPost=/opt/uv/bin/uv run python src/run.py \
		--db ${DUCKDB_DB_PATH} \
		--retention_period ${RETENTION_PERIOD} \
		delete

Restart=on-failure
RestartSec=5min

[Install]
WantedBy=multi-user.target
