[Unit]
Description=WebRTC Stats Collector Kohaku
After=network.target

[Service]
Restart=always
RestartSec=60s
KillMode=control-group
User=shiguredo
Group=shiguredo
WorkingDirectory=/home/shiguredo/kohaku
ExecStart=/bin/bash -c '/home/shiguredo/kohaku/bin/kohaku -c /home/shiguredo/kohaku/config.ini 2>/var/log/kohaku/stderr.log 1>/var/log/kohaku/stdout.log'
Type=simple
LogsDirectory=kohaku

[Install]
WantedBy=multi-user.target
